		<!-- cabeçalho -->
		<div class="cabecalho">
			<!-- imagens -->
			<picture>
				<source media="(max-width: 767px)" srcset="ohs/pub/images/cabecalho-mobile.jpg " />
				<source media="(min-width: 768px) and (max-width: 1024px)" srcset="ohs/pub/images/cabecalho-tablet.jpg" />
				<img srcset="ohs/pub/images/cabecalho-desktop.jpg" alt="" />
			</picture>
			<!-- imagens fim -->
			
			<!-- container -->
			<div class="container">
				<!-- bloco -->
				<div class="bloco">
					<!-- frase -->
					<p>Os melhores produtos novos e usados com o melhor preço!</p>
					<!-- frase fim -->

					<!-- buscar -->
					<form action="index.php" method="get">
						<input type="hidden" name="p" value="search"/>
						<div class="bloco">

							<select name="tipo" class="form-control">
								<option value="produto">Produto</option>
								<option value="oficina">Oficina</option>
								<option value="fornecedor">Fornecedor</option>
							</select>

							<div class="relativo">
								<input type="text" class="form-control form-control-lg" placeholder="O que você procura?" name="search" />
								<i class="fa fa-search"></i>
								<input type="submit" value="Buscar" />
							</div>
						</div>
					</form>
					<!-- buscar fim -->
				</div>
				<!-- bloco fim -->
			</div>
			<!-- container -->
		</div>
		<!-- cabeçalho fim -->